@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    font-family: 'Roboto Slab', serif
}

body {
    background-image: url('../img/b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 1;
    position: relative;
    height: 100vh;
}

/*----------------------------------------------------HEADER-------------------------------------------------------*/

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 28px;
}

.cabecalho-img {
    height: 10vh;
}

.cabecalho-img:hover {
    transform: scale(1.2);
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.item-menu {
    color: #ffffff;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}

.item-menu:hover {
    color: #9e5d12;
    font-weight: 500;
    text-decoration: underline;
    transform: scale(1.2);
}
/*-----------------------------------------------------FIM HEADER-----------------------------------------------------*/

/*----------------------------------------------------SECTION 1-------------------------------------------------------*/

.conteudo-principal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    padding: 70px;
}

.conteudo-principal-escrito-texto {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    color: #eaddcd; 
    padding: 35px;
}

.conteudo-principal-escrito-button {
    color: white;
    font-size: 20px;
    height: 60px;
    width: 180px;
    background-color: #935a37;
    opacity: 55%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

.conteudo-principal-escrito-button:hover {
    color: #df962a;
    font-weight: 500;
    opacity: 65%;
    box-shadow: 4px 4px 5px #935a37;
    background-color: rgb(221, 208, 192);
    transform: scale(1.1);
}
/*-------------------------------------------------FIM SECTION 1-----------------------------------------------------*/



/*----------------------------------------------------SECTION 2-------------------------------------------------------*/
/*
.conteudo-secundario {
    margin-top: 31.5%;
    height: 100vh;
    width: 98.3vw;
    background-color: #d8b089;
}*/

/*--------------------------------------------------FIM SECTION 2-----------------------------------------------------*/




/*-----------------------------------------------------FOOTER--------------------------------------------------------*/

footer {
	text-align: center;
	background: #935a37;
    position: relative;
	padding: 40px 0;
    top: 200px;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

.instagram {
    cursor: pointer;
}
/*---------------------------------------------------FIM FOOTER------------------------------------------------------*/